html, body {
    font-family: 'Barlow', sans-serif;
    text-align: center;
    height: 100%;
    background-color: #edc067;
    overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: .2em -.1em .1em -.1em;
  padding: .3em 0;
  border-radius: .2em;
}

h2 {
  font-size: 1.2em;
}

#menu-wrapper {
  box-sizing: border-box;
  background-color: #75aac4;
  padding: 0.5em;
  white-space: nowrap;
}
#menu-wrapper .btn-lg {
  min-width: 5em;
}

#ptz-wrapper {
  padding: 1em 0.3em 0.3em 0.3em;
  box-sizing: border-box;
}

.ptz-button {
  width: 100%;
  height: 5em;
  white-space: normal;
  font-size: 1.2em;
  overflow: hidden;
}

.col {
  padding-bottom: 0.2em;
}

@keyframes pulse-green {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #74b0ae;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes pulse-red {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #dc3545;
  }
  100% {
    background-color: transparent;
  }
}
